<footer class="footer">
    <div class="footer__image">
        <img src="{{ asset('images/playa.jpeg') }}" alt="">
    </div>
    <div class="footer__content">
        <div class="footer__content__nav">
            <ul>

            </ul>
        </div>
    </div>
</footer>