<div class="place-card">
    <div class="place-card__image">
        <img src="{{ asset('images/sample.jpg') }}" alt="">
    </div>
    <div class="place-card__content">
        <div class="place-card__content__title">
            <h4>Vinales - Cuba occidente</h4>
        </div>
        <div class="place-card__content__prices">
            <div class="place-card__content__prices__main">Experience: <span>$</span> 45.00</div>
            <div class="place-card__content__prices__others"><span>Other offers:</span> Collective & Transfer</div>

        </div>
        <div class="place-card__content__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Error excepturi facere</p>
        </div>
        <div class="place-card__content__action">
            <a href="" class="btn">{% trans %}global.button.see_more{% endtrans %}</a>
        </div>
    </div>
</div>