<section class="section place-description">
    <div class="section__title">
        <h1>Varadero: Cuba en un playa</h1>
    </div>
    <div class="section__content place-description__content">
        <div class="place-description__map">

        </div>
        <div class="place-description__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, dolorem dolores eos in laborum, laudantium nemo odio quas quasi quia, quis quos recusandae repudiandae similique tenetur ut vero voluptate!</p>
        </div>
    </div>

</section>