<section class="section hero hero-place">

    <div class="hero__grid">

        <div style="grid-area: img1">
            <img src="{{ asset('images/vinales.jpg') }}"  alt="">
        </div>
        <div style="grid-area: img2">
            <img src="{{ asset('images/playa.jpeg') }}"  alt="">
        </div>
        <div style="grid-area: img3">
            <img src="{{ asset('images/havana.jpeg') }}"  alt="">
        </div>
        <div style="grid-area: img4">
            <img src="{{ asset('images/prehistoria.jpeg') }}"  alt="">
        </div>
    </div>

</section>