$main-blue: #14a1e6;
$main-gray: #444;
$main-light-gray: #666;
$main-dark: #1a1a1a;
$main-red: #f7360d;
$main-green: #60a902;
$main-green-dark: #376f02;
$light-orange: #f9c90d;
$dark-orange: #f96e10;


// Font Stacks
$font-text: 'Roboto', sans-serif;
$font-title: 'Open Sans', monospace;

$font-size: 1.1em;
$box-shadow : 2px 2px 10px rgba(black, .25);


$border-radius: 2px;