{% if class is not defined %} {% set class = "" %} {% endif %}
<div class="review {{ class }}">
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur explicabo labore nam perspiciatis quo velit. Animi, cumque, dolorum eos laborum laudantium rem repellat sed soluta tempora temporibus velit, vero voluptates?</p>
        <footer>
            <cite>
                <span>landy @</span>
                <a href="https://www.tripadvisor.es/Attraction_Review-g2198348-d13554747-Reviews-Taxi_Drivers_Cuba-Ciudad_de_la_Habana_Province_Cuba.html">
                    TripAdvisor
                </a>
            </cite>
        </footer>
    </blockquote>
</div>