<section id="faq" class="section faq">
    <div class="section__title">
        <h2>{% trans %}index.faq.title{% endtrans %}</h2>
    </div>
    <div class="section__content faq__content">
        <div class="">

        </div>
        <div class="questions">
            {% for i in 1..4 %}
                <div class="question">
                    <div class="question__title">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4>
                    </div>

                    <div class="question__answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi atque expedita facere, perferendis quis quo reiciendis sint sit. At error inventore molestiae omnis quis repellendus sit ut vitae voluptatibus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi atque expedita facere, perferendis quis quo reiciendis sint sit. At error inventore molestiae omnis quis repellendus sit ut vitae voluptatibus?</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>