<section class="section hero">
    <div class="hero__image">
       <img src="{{ asset('images/havana.jpeg') }}"  alt="">
    </div>
    <div class="hero__heading">
        <h1>Taxi Drivers Cuba</h1>
    </div>

    <div class="hero__form">
        <form class="form" action="">
            <div class="form__input">
                <label for="">punto de salida</label>
                <select name="" id="">
                    <option value="">dsd</option>
                    <option value="">sd</option>
                    <option value="">dsad</option>
                </select>
            </div>
            <div class="form__input">
                <label for="">punto de salida</label>
                <select name="" id="">
                    <option value="">dsd</option>
                    <option value="">sd</option>
                    <option value="">dsad</option>
                </select>
            </div>
        </form>
    </div>
</section>