<section id="us" class="section us">
    <div class="section__title">
        <h2>{% trans %}index.us.title{% endtrans %}</h2>
    </div>
    <div class="section__content">
        <div class="us__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut beatae reprehenderit sunt suscipit?</p>
        </div>
        <div class="us__team">
            <div class="us__team__member">
                <div class="us__team__member__image">
                    <img src="{{ asset('images/playa.jpeg') }}" alt="">
                </div>
                <div class="us__team__member__text">
                    <h3>Lester Rodriguez</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="us__team__member us__team__member--inverse">
                <div class="us__team__member__image">
                    <img src="{{ asset('images/playa.jpeg') }}" alt="">
                </div>
                <div class="us__team__member__text">
                    <h3>Lester Rodriguez</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>