#header{

    //background: rgba(20, 161, 230, 0.95);
    .container{
        @apply mx-auto flex flex-wrap pt-4 pb-3 flex-col items-center;


        @screen md{
            & {
                @apply flex-row;
            }
        }
    }

    .header-link-logo{
        @apply flex font-medium items-center text-gray-900 mb-2;

        @screen md {
            & {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .header-link {
        @apply mr-5;

        &:hover {
            @apply text-gray-900;
        }
    }

    .locale-selector{
        position: relative;
        & ul{
            display: flex;
            flex-flow: column;
            position: absolute;
            //grid-template-columns: repeat(3, 1fr);
            //grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            gap: .8em;
        }

        & li.country-flag > svg {
            width: 1em;
        }

        &:hover li{
            visibility: visible;
        }

        & li{
            visibility: hidden;

            &.selected{
                visibility: visible;
                //grid-column-start: 1;
                //grid-column-end: 4;
                //grid-row-start: 1;
                //grid-row-end: 1;
            }
        }
    }


}
