.header {
    z-index: 3;
    background: rgba($main-blue, .95);
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;

    @include atLarge{
        padding: 0 8em 0 4em;
        position: fixed;
        background: linear-gradient(45deg, rgba(black, .95), rgba($main-blue, .95) 45%);
    }

    & .logo {
        width: 5.25em;
        margin: 0;
        position: absolute;
        left: .25em;

        @include atLarge{
            position: relative;
            left: auto;
            width: 8em;
        }
    }

    & .nav {
        width: 100%;
        position: absolute;
        top: 3.25em;
        background: rgba($main-blue, .95);

        @include atLarge{
            position: relative;
            top: 0;
            display: block;
            width: auto;
            background: transparent;
        }

        & ul {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;

            & li {
                padding: .5em;
                margin: auto .5em;

                border: 1px transparent solid;
                transition: border .3s ease-in-out;

                &:hover {
                    border: 1px white solid;
                }

                & a {
                    padding: .5em;
                    margin: auto .5em;
                    color: white;
                    text-decoration: none;
                }
            }
        }

    }

    & .menu-icon{
        order: 2;
        width: 20px;
        height: 19px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 1em;
        right: 1em;
        z-index: 3;

        @include atLarge {
            display: none;
            right: auto;
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle{
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transition: all .3s ease-out;
            transform-origin: 0 50%;

        }

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        &--close-x{
            &::before{
                transform: rotate(45deg) scaleX(1.25);
            }

            .menu-icon__middle{
                opacity: 0;
                transform: scaleX(0);
            }

            &::after{
                transform: rotate(-45deg) scale(1.25) translateY(1px);
            }
        }
    }

    & .lang{
        order: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        z-index: 2;

        @include atLarge {
            width: auto;
            opacity: 1;
            z-index: 1;
        }

        & ul {
            padding-left: 0;
            margin: 0;
        }

        & li {
            color: #fff;
            display: block;
            float: left;

            padding: .5em;
            margin: auto .2em;
            position: relative;
            text-decoration: none;
            transition-duration: 0.5s;
            transition: all;
            border-bottom: 2px transparent solid;

            @include atLarge{
                margin: auto .75em;
            }

            &:hover{
                border-bottom: 2px white solid;
                text-transform: uppercase;
            }

            &.selected{
                border-bottom: 2px white solid;
                text-transform: uppercase;
            }

            & a{
                color: white;
                font-size: 1em;
                font-weight: 500;
                padding: .25em;

                &:hover{
                    text-decoration: none;
                }
            }
        }

    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 16:43:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-out-top-bck {
    0% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
    100% {
        transform: rotateX(-90deg);
        transform-origin: top;
        opacity: 0;
    }
}


.swing-in-top-bck {
    animation: swing-in-top-bck .4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: .3s;
}

.swing-out-top-bck {
    animation: swing-out-top-bck .25s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    @include atLarge{
        animation: none;
    }
}