.section{
    scroll-padding: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

    margin-top: 1.5em;

    &.hero{
        margin-top: 0;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        & h2 {
            position: relative;
            font-size: 1.75em;
            margin-bottom: .25em;
        }

        &--white{

            & h2 {
                color: white;

                &:after {
                    background: white;
                }
            }
        }
    }

    &__description{
        display: flex;
        width: 95%;
        justify-content: center;

        & p{
            margin: .25em auto;
            text-align: center;
        }
    }

    &__content{
        width: 100%;
    }
}